# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
__pycache__/
node_modules/
.pytest_cache

# Serverless directories
.serverless

# Generated xmls
*.xml

# Editor files
.vscode/